{{#if this.title}}
    <h1>{{this.title}}</h1>
{{/if}}

<div class="button-container">
    <button {{action 'onPage' this.previousPage}} disabled={{this.isFirst}}>Previous</button>
    <button {{action 'onPage' this.nextPage}} disabled={{this.isLast}}>Next</button>
    Page: {{this.page}}
</div>

{{#each this.pagedData as |content|}}
    <div class="content">
        {{#each-in content as |key value|}}
            <p>{{key}}: {{value}}</p>
        {{/each-in}}
    </div>
{{/each}}

